/* universal making links easier to click */
*{box-sizing: border-box;}

/* fix header to top of page, text color slate, background color light sage, gives padding all around*/
header {
    top: 0;
    right: 0;
    width: 100%;
    color: #5B6970;
    padding: 1%;
    background-color: #B6BCA3;
}

/* defines body background color, text color, and font characteristics*/
body {
    background-color: #EFF1E3;
    color: #5B6970;
}





/* gives padding around logo */
.logo{
    padding-left: 1.5%;
    padding-top: 1%;
}

main{
    padding-top: 5%
}



/* navigation buttons */

nav{
    color: #5B6970;
    text-align: center;
    background-color: #B6BCA3;
}

nav a {
    color: #EFF1E3;
    font-size: 1.2em;
   /*font-family: ivymode, sans-serif;
    font-style: normal;
    font-weight: 600;*/
    font-family: greycliff-cf, sans-serif;

    font-weight: 500;
    
    font-style: normal;
    
    
    text-decoration: none;
    padding-bottom: 10%;
}

nav a:hover {
    color: #515f30;
    border-bottom: 2px solid #515f30;
}

nav a:active {
    color: #515f30;
    border-bottom: 2px solid #515f30;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding-left: 2%;
    padding-right: 2%;
}






/* removes bullet points in footer & header */
ul {
    list-style-type: none;
}






/* cart icon in head*/
#cart a:hover {
    color: #515f30;
}

#cart a {
    color: #EFF1E3;
}

#cart {
    padding-top: 2%;
    padding-right: 2%;
    text-decoration: none;
    font-size: 150%;
    float: right;
    background-color: #B6BCA3;
}












h2 {color: #5B6970;
    text-align: center;
    font-family: ivymode, sans-serif;
    font-style: normal;
    font-weight: 300;
    clear:both
}

h3 {
    color: #5B6970;
}

dd {
    font-style: italic;
    font-size: .90em;
    line-height: 200%;
}



small {
    text-align: center;
    display: inline-block;
    padding: 0.5%;
    margin: 0.5%;
}



/* footer links */
#copy {
    text-align: center;
}

footer {
    margin-top: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #B6BCA3;
    color: #5B6970;
    text-align: center;
    font-family: ivymode, sans-serif;
    font-style: normal;
    font-weight: 600;
}

#footerlinks a:hover {
    color: #515f30;
}

#footerlinks a {
    color: #EFF1E3;
    text-decoration: none;
}

#footerlinks {
    padding-left: 3%;
    text-decoration: none;
    font-size: 90%;
    text-align: left;
}



/* footer social media icons */
#socials a:hover {
    color: #515f30;
}

#socials a {
    color: #EFF1E3;
}

#socials {
    padding-top: 2%;
    padding-right: 2%;
    text-decoration: none;
    font-size: 150%;
    text-align: right;
}