body {
    display: grid;
    grid-template-areas:
        "header nav cart"
        "main main main"
        "footer copyright socialmedia";
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 0%;
    height: 100vh;
    margin: 0;
    font-size: 30px;
}







#logogrid {
    grid-area: header;
    text-align: center;
    background-color: #B6BCA3;
    padding-top: 4%;
    padding-bottom: 2%;
}

#mainLogo{
    width: 50%;
}

#navbargrid{
    grid-area: nav;
    text-align: center;
    font-family: fira-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #5B6970;
    background-color: #B6BCA3;
}

#navbargrid a{
    text-decoration: none;
    color: #EFF1E3;
    padding-bottom: 10%
}


#navbargrid a:hover {
    color: #515f30;
    border-bottom: 2px solid #515f30;
}

nav ul li {
    display: inline-block;
    padding-top: 4%;
    padding-left: 2%;
    padding-right: 2%;
}








#checkoutgrid {
    grid-area: cart;
    text-align: right;
    color: #5B6970;
    background-color: #B6BCA3;
    padding-top: 20%;
    padding-right: 25%;
}


#checkoutgrid a:hover {
    color: #515f30;
    text-decoration: none;
}

#checkoutgrid a {
    color: #EFF1E3;

}












#maingrid {
    grid-area: main;
    background-color: #EFF1E3;
    color: #5B6970;
    text-align: center;
    font-family: fira-sans, sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-top: 4%;
    padding-bottom: 4%;
}








#footlinksgrid {
    grid-area: footer;
    text-align: left;
    font-size: 60%;
    font-family: fira-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EFF1E3;
    background-color: #B6BCA3;
    padding-top: 0.3%;
}

#footlinksgrid a:hover {
    color: #515f30;
}

#footlinksgrid a{
    text-decoration: none;
    color: #EFF1E3;
}

ul li{
    padding-top: 2.5%;
}


#copyrightgrid {
    grid-area: copyright;
    text-align: center;
    font-size: 55%;
    font-family: fira-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #5B6970;
    background-color: #B6BCA3;
    padding-top: 10%;
}

#socialsgrid {
    grid-area: socialmedia;
    text-align: right;
    background-color: #B6BCA3;
    padding-top: 15%;
    padding-right: 15%;
}

#socialsgrid a:hover {
    color: #515f30;
    text-decoration: none;
}

#socialsgrid a {
    color: #EFF1E3;
    padding-left: 2%;
    padding-right: 2%;

}

ul li{
    list-style-type: none;
}


.inprogress {
    font-size: 125%;
    padding-top: 5%;
}


h1{
    font-family: fira-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}

.hellojo{
    font-family: fira-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 75%;
    padding-top: 7%;
}

.contactemail{
    font-family: fira-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 75%;
}
.fotorama{
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}




h1{
    font-family: fira-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 150%;
    text-align: left;
    padding-left: 5%;
}

h2{
    font-family: fira-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    text-align: left;
    padding-left: 5%; 
    padding-bottom: 0%;
}
.aboutwords{
    text-transform: lowercase;
    font-family: fira-sans, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 80%;
    text-align: left;
    padding-left: 5%; 
    padding-right: 5%; 
    padding-bottom: 3%;
    padding-top: 0%;
}
.aboutwords2{
    text-transform: lowercase;
    font-family: fira-sans, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 80%;
    text-align: left;
    padding-left: 5%; 
    padding-right: 5%; 
    padding-bottom: 0%;
    padding-top: 0%;
}